NODE_ENV=
PORT=
MONGO_URI=
JWT_SECRET=
REFRESH_TOKEN_SECRET=
FIELD_ENCRYPTION_KEY=
FIELD_ENCRYPTION_KEY_OLD=
COOKIE_EXPIRE=
FRONTEND_URL=
EMAIL_USER=
EMAIL_PASS=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
REDIS_URL=
SENTRY_DSN=
LOG_LEVEL=
